name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_11.1.app

      - uses: actions/checkout@v1

      - name: Build
        run: xcodebuild -configuration Release | xcpretty -s

      - name: Build DarkModeKitExample
        run: |
          cd Examples/DarkModeKitExample/
          xcodebuild build -scheme DarkModeKitExample -destination 'platform=iOS Simulator,name=iPhone 11 Pro' -configuration Release | xcpretty
