name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_11.4.1.app

      - name: Install SwiftLint
        run: brew install swiftlint

      - uses: actions/checkout@v1

      - name: Build
        run: xcodebuild -scheme FluentDarkModeKit -destination generic/platform=iOS -configuration Release | xcpretty -s && exit ${PIPESTATUS[0]}
