name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_11.1.app

      - uses: actions/checkout@v1

      - name: Build
        run: xcodebuild -configuration Release | xcpretty -s
